.row{
    margin-left: 0;
    margin-right: 0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #eaefef;
}
ul, ol{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
a, a:hover{
    text-decoration: none;
}
.navbar-brand{
    padding: 5px 15px;
}
.navbar-brand img{
    height: 50px;
}
.pull-right .navbar-right .dropdown{
    padding: 15px;
}
.pull-right .navbar-right .dropdown .fa{
    color: #000;
    font-size: 25px;
}
.navbar{
    margin-bottom: 0;
}
.pull-right .navbar-right .dropdown a{
    font-size: 18px;
    color: #000;
    font-weight: 100;
    letter-spacing: 1px;
}
.main-header{
    padding: 5px 0;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
}
.navbar-inverse{
    border-radius: 0;
    border: none;
    background-color: #444444;
}
.navbar-inverse .navbar-nav>li>a{
    color: #00aeef;
    font-size: 18px;
    font-weight: 100;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #fff;
}
.main-content{
    padding: 70px 0;
    min-height: 600px;
}
.no-padding{
    padding: 0;
}
.new-data{
    margin-bottom: 25px;
    box-shadow: 0 0 30px rgba(174,174,174,.4);
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    padding: 25px 10px;
}
.card{
    box-shadow: 0 0 30px rgba(174,174,174,.2);
/*
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
*/
}
.card .card-header{
    border-bottom: 1px solid #ccc;
    padding: 15px;
}
.card .card-header h4{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #00aeef;
}
.card .card-body{
    padding: 15px;
}
.card .card-body .table .fa-arrow-down{
    color: #ea2704;
}
.card .card-body .table .fa-arrow-up{
    color: #018c36;
}
.verify h4{
    font-size: 15px;
    font-weight: 700;
    margin: 5px;
}
.verify-documents h1{
    background-color: #3c763d;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin: auto;
    color: #fff;
    font-size: 25px;
    padding: 13px;
}
.complete{
    margin-top: 15px;
}
.complete .btn, .complete .btn:hover, .complete .btn:focus, .complete .btn:active, .complete .btn:hover:active, .complete .btn:focus:active{
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 10px;
    background-color: #337ab7;
    border: none;
    outline: none;
    box-shadow: none;
}
.review ul li{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.review ul li:last-child{
    border: none;
}
.review ul li img{
    height: 30px;
}
.form-control[readonly]{
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.user-detail img{
    height: 100px;
}
.user-detail label{
    margin-top: 7px;
    font-size: 18px;
    color: #ccc;
}
.user-detail .form-group{
    margin-bottom: 5px;
}
.star-rating {
  line-height:25px;
  font-size:1em;
}
.star-rating .fa-star{
    color: #f4ce42;
}
.increase-score{
    margin-top: 10px;
}
.increase-score .btn, .increase-score .btn:hover, .increase-score .btn:focus, .increase-score .btn:active, .increase-score .btn:hover:active, .increase-score .btn:focus:active{ 
    background-color: #000;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
}
.footer{
    padding: 15px;
    text-align: center;
    background-color: #000;
}
.footer p{
    margin-bottom: 0;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 100;
}
.footer p a{
    font-size: 700;
    color: #00aeef;
}